.gameLeft {
  background: #4c1682;
  border-radius: 14px;
  text-align: center;
  max-width: 300px;
  padding-top: 16px;
  padding-bottom: 40px;
  overflow: hidden;

  h1 {
    margin-bottom: 16px;
    background-color: #6214AB;
    font-weight: 600;
    padding: 0 10px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    @supports (-webkit-line-clamp: 2) {
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.cover {
  width: 250px;
  height: 250px;
  border: 4px solid #6214AB;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}
.titleCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
