.gameLeft {
  background: #4c1682;
  border-radius: 14px;
  text-align: center;

  h1 {
    margin-bottom: 16px;
  }
  padding-top: 16px;
  padding-bottom: 40px;
}

.cover {
  width: 200px;
  height: 250px;
  margin: auto;
  background-color: #dddddd;
}