@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Baloo 2", sans-serif;
    font-weight: 400;
}

:root {
    font-family: 'Baloo 2', system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}
