version: '3.8'
services:
  webapi:
    image: ${DOCKER_REGISTRY-}fanhubwebapi
    build:
      context: .
      dockerfile: WebApi/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=mssql,1433;Database=FanHubDb;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=true;
    depends_on:
      - mssql
    restart: unless-stopped
    volumes:
      - ./Infrastructure/Storage:/app/Infrastructure/Storage

  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: mssql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong@Passw0rd 
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    restart: unless-stopped
    
volumes:
  mssql_data:
  fanhub_storage: