.page {
  min-height: 100vh;
  font-family: sans-serif;
}

.content {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  padding: 24px;
}