.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  color: #aa3bec;
  cursor: pointer;

}

.logo:hover {
  color: #c264f0; 
}

.logo:hover .logoText {
    color: #f8eaff; 
  text-shadow: 0px 4px 10px #6c16b2;
}

.logoIcon {
  align-items: center;
  justify-content: center;
}

.logoImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.logoText {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  line-height: 1;
  transition: all 0.3s ease;
}

.logo--small {
  .logoIcon {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
  }

  .logoText {
    font-size: 1.5rem;
  }
}

.logo--medium {
  .logoIcon {
    width: 50px;
    height: 50px;
    font-size: 2.5rem;
  }

  .logoText {
    font-size: 2.5rem;
  }
}

.logo--large {
  .logoIcon {
    width: 75px;
    height: 75px;
    font-size: 3.5rem;
  }

  .logoText {
    font-size: 3.5rem;
  }
}
