.page {
  min-height: 100vh;
  font-family: sans-serif;
  color: white;
}

/* ================= CONTENT ================= */

.content {
  display: flex;
  flex-direction: column;
  gap:20px;
  max-width: 900px;
  margin: 0  auto 0 auto;
  padding: 24px;
  background-color: #6214ab34;
  align-items: center;
}

/* ================= GAME CARD ================= */

.gameCard {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 32px;
}

.cardTitle {
  margin-bottom: 20px;
}

.stats {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.stat {
  background: #6a1cb0;
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameRight {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.searchFandoms {
  position: relative;

  input {
    width: 100%;
    padding: 10px 36px 10px 18px;
    border-radius: 20px;
    border: none;
    outline: none;
  }

  span {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.infoBox {
  background: white;
  color: #000;
  border-radius: 14px;
  padding: 18px;
}

/* ================= FANDOMS ================= */

.fandoms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.fandomCard {
  background: #4c1682;
  border-radius: 16px;
  padding: 14px;
  display: flex;
  gap: 12px;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background: #999;
  }
}

/* ================= POSTS ================= */

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.post {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 12px;

  img {
    width: 100%;
    height: 100px;
    background: #aaa;
    border-radius: 8px;
    margin-bottom: 8px;
  }
}

/* ================= EXTRA ================= */

.showMore {
  text-align: center;
  margin: 16px 0;
  opacity: 0.8;
}
