.searchForm--head {
    background: rgba(255, 255, 255, 0.15);


}

.searchForm--secondary {
    background: #37044a;

    &:focus-within {
        background: #ffffffcc;
    }

}

.searchForm--small {
    .searchInput {
        padding: 7px 16px;
        font-size: 14px;
    }

    &.searchFormWithIcon .searchInput {
        padding-right: 40px;
    }

    .searchIcon {
        width: 20px;
        margin-right: 12px;
    }
}

.searchForm--medium {
    .searchInput {
        padding: 6px 24px;
        font-size: 16px;
    }

    &.searchFormWithIcon .searchInput {
        padding-right: 40px;
    }

    .searchIcon {
        width: 25px;
    }
}

.searchForm--large {
    min-width: 200px;
    .searchInput {
        padding: 10px 32px;
        font-size: 18px;
    }

    &.searchFormWithIcon .searchInput {
        padding-right: 50px;
    }

    .searchIcon {
        margin-right: 20px;
        font-size: 18px;
    }
}

.searchIcon {
    pointer-events: none;
    flex-shrink: 0;
    margin-right: 16px;
    display: block;
}

.searchFormWithIcon {
    display: flex;
    align-items: center;
}

.searchForm {
    font-family: "Baloo 2";
    display: flex;
    border-radius: 50px;
    background-color: white;

    &.searchFormDropdownOpen {
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.searchInput {
    flex: 1;
    width: auto;
    padding: 14px 24px;
    border: none;
    border-radius: 50px;
    color: #400A72;
    font-size: 16px;
    background: transparent;

    &::placeholder {
        color: #400a72b3;
    }

    &:focus {
        outline: none;
    }

    &.searchInputDropdownOpen {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.searchFormLight {
    background-color: white;
    border-color: rgba(255, 255, 255, 0.3);

    .searchInput {
        color: #400A72;

        &::placeholder {
            color: #400a72b3;
        }
    }
        &:focus-within {
        background: rgba(255, 255, 255, 0.936);
        border-color: rgba(255, 255, 255, 0.4);
    }

    &:hover {
        background: rgba(255, 255, 255, 0.985);
    }
}

.searchFormDark {
    background-color: #6214AB;
    border-color: rgba(255, 255, 255, 0.15);
    .searchInput {
        color: #ffffff;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }   
        &:focus {
            background-color: #400A72;
        }
        &:focus-within {
        background: rgb(95, 19, 153);
        border-color: rgba(255, 255, 255, 0.4);
    }

    &:hover {
        background-color: #6b1f9d;
    }
}

@media (max-width: 768px) {
    .searchForm--medium {
        .searchInput {
            padding: 14px 20px;
            font-size: 14px;
        }

        .searchIcon {
            margin-right: 14px;
        }
    }

    .searchForm--large {
        .searchInput {
            padding: 16px 28px;
            font-size: 16px;
        }

        .searchIcon {
            margin-right: 18px;
        }
    }
}
