// src/components/cards/GameCard/GameCard.module.scss
.gameCard {
    width: 200px;
    height: 250px;
    border: 2px solid #6f10c7;
    box-shadow: 0 4px 12px rgba(184, 70, 229, 0.2);
    
    &:hover {
        border-color: #b473ff;
        box-shadow: 0 8px 24px rgba(79, 70, 229, 0.3);
    }
    
    .cardPlaceholder {
        background: linear-gradient(135deg, #4f46e5, #7c73ff);
    }
}