.layout {
    background-image: url("../../assets/background.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh; 
}

.main {
    height: 100%;
    width: 100%;
}
