.layout {
    background: 
        linear-gradient(rgba(19, 3, 24, 0.553), rgba(19, 3, 37, 0.921)), 
        url("../../assets/background.png") center/cover; 
    min-height: 100vh;
}   

.main {
    height: 100%;
    width: 100%;
}