.layout {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.503), rgba(0, 0, 0, 0.832)), 
        url("../../assets/background.png") center/cover; 
    min-height: 100vh;
}   

.main {
    height: 100%;
    width: 100%;
}