.layout {
    min-height: 100vh;
    height: auto;
    width: 100%;
    position: relative;
    
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: 
            linear-gradient(rgba(19, 3, 24, 0.553), rgba(19, 3, 37, 0.921)), 
            url("../../assets/background.png") center/cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: -1;
        pointer-events: none;
        will-change: transform;
    }
}   

.main {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}