.input {
    padding: 4px * 2 4px * 4;
    background-color: white;
    width: 100%;
    color: #47596c;
    border: 1px solid rgba(#9ba5af, 0.5);
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;

    &:focus {
        outline: none;
        border-color: rgba(#9ba5af, 1);
    }
}
