.manageButton {
  padding: 6px 12px;
  border-radius: 0px 0px 6px 6px;
  background: linear-gradient(90deg, rgb(98, 20, 171), rgb(130, 40, 200));
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 0 8px rgba(98, 20, 171, 0.3);

  &:hover:not(:disabled) {
    box-shadow:
      0 6px 12px rgba(98, 20, 171, 0.3),
      0 0 16px rgba(130, 40, 200, 0.3);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.gameCard {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 30px;
}

.cardTitle {
  flex: 1; 
}

.gameTitleCard {
  border-radius: 12px 12px 12px 0px;
}

.gameLeft {
  border-radius: 15px 15px 15px 0px;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%; 
}

.statItem {
  display: flex;
  align-items: center;
}

.statNumber {
  font-weight: bold;
  color: #fff;
  padding-right: 10px;
}

.statIcon {
  width: 25px;
  filter: invert(100%);
}


.gameStats {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-top: 5px;
}

.statsWrapper {
  display: flex;
  width: 100%;
  padding-right: 30px;
  align-items: center;
  justify-content: space-between;
}


.statNumber {
  font-weight: bold;
  color: #fff;
  padding-right: 10px;
}
