.button {
    padding: 12px 24px;
    border: 2px solid #3b82f6;
    background: #480491;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    }

    button--inverted
    {
        background: white;
        color: red;
    }

    button--disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
