.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8c49ff26;
  padding: 30px;
  border-radius: 12px;
  width: 200px;
}

.image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.name {
  font-weight: 700;
}